* {
  border: 0.5px dotted rgba(255, 0, 0, 0.75);
}

@media screen and (min-width: 320px) {

  header {
    display: flex;
    justify-content: flex-end;
    height: 10vh;
  }

  #overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(1px);
    z-index: 2;
  }

  nav {
    display: flex;
    gap: 5px;
  }

  .navbar-container {
    position: absolute;
    z-index: 10;
  }

  .navbar {
    background-color: orange;
    height: 100vh;
    padding: 0;
    margin: 0;
    display: none;
  }

  .navbar-visible {
    animation: expand 0.75s ease-in-out forwards;
    transform-origin: right;
    /* display: block; */
  }

  @keyframes expand {
    0% {
      width: 0;
    }
    100% {
      width: 60vw;
    }
  }

  .navbar-hidden {
    animation: retract 0.75s ease-in-out;
    transform-origin: left;
    /* display: block; */
  }

  @keyframes retract {
    0% {
      width: 60vw;
    }

    100% {
      width: 0;
    }
  }

  li {
    list-style: none;
    background-color: orange;
    padding-left: 10px;
  }


  #carousel-center-title {
    text-align: center;
  }

  #project-carousel {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel-center {
    width: 55vw;
    height: 55vw;
    background-color: blue;
    flex-shrink: 0;
    z-index: 2;
  }

  .carousel-left, .carousel-right {
    width: 45vw;
    height: 45vw;
    background-color: rgba(0, 0, 255, 0.5);
    flex-shrink: 0;
    position: relative;
  }

  .carousel-left {
    left: 90px;
  }

  .carousel-right {
    left: -90px;
  }

  #carousel-nav {
    display: flex;
    justify-content: space-between;
  }

  .carousel-left-btn::before {
    content: "←";
  }

  .carousel-right-btn::after {
    content: "→"
  }
  
}
